@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: black;
  color: #eaeaea;
  height: 100%;
  letter-spacing: 0.5px;
}

.container {
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  width: 350px;
  padding: 20px 0;
}

.author {
  text-align: center;
}

.author img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 5px solid rgb(26, 26, 26);
}

.author p {
  margin-bottom: 14px;
  font-weight: 600;
  font-size: 18px;
}

.links {
  text-align: center;
}

.links a {
  color: #eaeaea;
  text-decoration: none;
  font-size: 14px;
}

.links-item {
  padding: 15px 8px;
  background-color: rgb(26, 26, 26);
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
  transition: 0.2s;
}

.links-item:hover {
  background-color: #373535;
}

.social {
  text-align: center;
}

.social .social-item {
  font-size: 28px;
  color: #eaeaea;
  margin: 0 10px;
}

footer {
  text-align: center;
}

footer small span {
  color: #f39c12;
}
